<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @beer.description %>
</p>

<p>
  <strong>Brew:</strong>
  <%= @beer.brew.name %>
</p>

<p>
  <strong>Notes:</strong>
  <% @beer.notes.each do |note| %>
<%= note.beer_geek.name + "" + note.star.to_s %>
<% end %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
